<div id="navRow">
    <h1>Personal Blog</h1>
</div>
<div id="postList">
    {{#each posts}}
    <div class="post">
        <a href="/post/{{this.id}}" class="post-link">
            <h2 class="postHeading">{{this.title}}</h2>
            <div>
                <span class="postCategory">{{this.category}} | </span>
                <span class="postDate">{{formatDate this.createdAt}}</span>
            </div>
        </a>
    </div>
    {{/each}}
</div>